@charset "ISO-8859-1";

body nav.navbar-inverse{
	background-color : #17ABC2;
}
.h3-brand{
	color : #ffffff;
}
.nav-item{
	cursor : pointer;
}
#table-employee {
	margin-top : 30px;
}
.div-create-employee, .form-find-employee, .form-import-employee {
	width: 80%;
    border: 2px solid #17ABC2;
    margin: 30px auto;
    border-radius: 11px;
    padding: 0px 0px 10px 0px;
}
.form-find-employee .div-create-employee-header {
	margin-bottom: 10px;
}
.form-import-employee .div-create-employee-header {
	margin-bottom: 10px;
}
.div-create-employee .row {
	margin-top : 10px;
}
.div-create-employee .button-save {
	text-align: right;
    padding-right: 30px;
}
.div-create-employee-header {
	background-color : #17ABC2;
    border-radius: 6px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}
#table-employee .odd {
	background-color : #dee2e6;
}
.fa-edit {
	background-image: url("../../images/fa-edit.png");
	background-repeat: no-repeat;
    background-size: 14px;
    padding: 0px 8px 0px 5px;
    cursor : pointer;
}
.fa-delete {
	background-image: url("../../images/fa-delete.png");
	background-repeat: no-repeat;
    background-size: 14px;
    padding: 0px 8px 0px 5px;
    cursor : pointer;
}
footer{
    height: 100px; 
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0; 
}
.red {
	color : red;
	padding-left : 16px;
}